.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 35px;

    background:linear-gradient(135deg,#2563eb,#1d4ed8);

    color:white;

    border-radius:12px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    margin-bottom:20px;

}

.navbar-left{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo-icon{

    font-size:40px;

}

.navbar-left h1{

    margin:0;

    font-size:32px;

}

.navbar-left p{

    margin-top:5px;

    opacity:.9;

    font-size:14px;

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:25px;

}

.status{

    display:flex;

    align-items:center;

    gap:10px;

    background:rgba(255,255,255,.15);

    padding:12px 20px;

    border-radius:30px;

}

.status-dot{

    width:10px;

    height:10px;

    border-radius:50%;

}

.online{

    background:#22c55e;

    box-shadow:0 0 10px #22c55e;

}

.offline{

    background:#ef4444;

    box-shadow:0 0 10px #ef4444;

}

.clock{

    text-align:right;

    font-weight:bold;

}

.clock div{

    font-size:22px;

}

.clock small{

    opacity:.85;

}